.mainLSBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  form {
    width: 100%;
  }
}

.titleLS {
  font-size: 2vw;
  color: var(--color-white);
  font-family: var(--font-main-for-account);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-normal);
}

@media (max-width: 1024px) {
  .titleLS {
    font-size: 3vw;
  }
}

@media (max-width: 980px) {
  .titleLS {
    font-size: 4.4vw;
  }
}

@media (max-width: 576px) {
  .titleLS {
    font-size: 7vw;
  }
}

.answerAboutAccount {
  font-size: 0.85vw;
  color: var(--color-white);
  font-family: var(--font-main-for-account);
  font-weight: var(--font-weight-small);
  line-height: var(--font-lineh-normal);
  margin: 0;
  margin-top: 0.25vw;

  & a {
    color: var(--color-orange);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    text-decoration: underline;
  }
}

@media (max-width: 1024px) {
  .answerAboutAccount {
    font-size: 1.75vw;
    margin-top: 1vw;
  }
}

@media (max-width: 980px) {
  .answerAboutAccount {
    font-size: 2.4vw;
    margin-top: 2.5vw;
  }
}

@media (max-width: 576px) {
  .answerAboutAccount {
    font-size: 3.6vw;
    margin-top: 3vw;
  }
}

.nameContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1.5vw;

  & .errorText {
    font-size: 0.85vw;
    color: var(--color-red);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-normal);
    margin: 0;
    margin-top: 0.5vw;
  }
}

@media (max-width: 1024px) {
  .nameContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0vw;

    & .errorText {
      font-size: 2.4vw;
      margin-top: 1.5vw;
    }
  }
}

@media (max-width: 576px) {
  .nameContainer {
    margin-top: 5vw;

    & .errorText {
      font-size: 3.2vw;
      margin-top: 1.5vw;
    }
  }
}

.nameContainerHalf {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  margin-top: 2.5vw;

  > div {
    flex: 1; // Каждое поле занимает 50% ширины контейнера
  }

  > div input {
    margin-top: 0vw;
  }
}

@media (max-width: 1024px) {
  .nameContainerHalf {
    gap: 1.6vw;
  }
}

@media (max-width: 980px) {
  .nameContainerHalf {
    gap: 2.4vw;
    margin-top: 5vw;
  }
}

@media (max-width: 576px) {
  .nameContainerHalf {
    gap: 2.6vw;
  }
}

.buttonSubmit {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.9vw 0;
  border: 0;
  border-radius: 0.3vw;
  background-color: var(--color-orange);
  font-size: 0.85vw;
  color: var(--color-white);
  font-family: var(--font-albertSans);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-lineh-small);
  margin-top: 3vw;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

@media (max-width: 1024px) {
  .buttonSubmit {
    padding: 1.2vw 0;
    border-radius: 0.5vw;
    font-size: 1.8vw;
    margin-top: 2vw;
  }
}

@media (max-width: 980px) {
  .buttonSubmit {
    padding: 2vw 0;
    border-radius: 0.75vw;
    font-size: 2.4vw;
    margin-top: 5vw;
  }
}

@media (max-width: 576px) {
  .buttonSubmit {
    padding: 3vw 0;
    border-radius: 1.5vw;
    font-size: 3.6vw;
    margin-top: 6vw;
  }
}

// Стили для разделителя
.orSeparator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 2vw;

  span {
    padding: 0 1vw;
    color: #919191;
    font-size: 0.85vw;
    font-family: var(--font-albertSans);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);
    opacity: 0.6;
  }

  &::before,
  &::after {
    content: '';
    flex: 1;
    height: 0.1vw;
    background-color: #919191; // Цвет линий
    opacity: 0.5;
  }

  &::before {
    margin-right: 0.8vw;
  }

  &::after {
    margin-left: 0.8vw;
  }
}

@media (max-width: 1024px) {
  .orSeparator {
    margin-top: 3vw;

    span {
      padding: 0 1vw;
      font-size: 1.6vw;
    }

    &::before,
    &::after {
      content: '';
      flex: 1;
      height: 0.1vw;
      background-color: #919191; // Цвет линий
      opacity: 0.5;
    }
  }
}

@media (max-width: 980px) {
  .orSeparator {
    margin-top: 4vw;

    span {
      padding: 0 2vw;
      font-size: 2.4vw;
    }

    &::before,
    &::after {
      height: 0.15vw;
    }
  }
}

@media (max-width: 576px) {
  .orSeparator {
    margin-top: 7vw;

    span {
      padding: 0 3vw;
      font-size: 3.6vw;
    }

    &::before,
    &::after {
      height: 0.2vw;
    }
  }
}

.socialButtonsBlock {
  display: flex;
  justify-content: space-between;
  gap: 1.2vw;
}

@media (max-width: 1024px) {
  .socialButtonsBlock {
    gap: 2.4vw;
  }
}

@media (max-width: 576px) {
  .socialButtonsBlock {
    gap: 4vw;
  }
}

.socialButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75vw;
  width: 100%;
  padding: 0.85vw 0;
  border: 0.1vw solid var(--color-orange);
  border-radius: 0.3vw;
  background-color: #1e1e1e;
  font-size: 0.8vw;
  color: var(--color-white);
  font-family: var(--font-main-for-account);
  font-weight: var(--font-weight-small);
  line-height: var(--font-lineh-small);
  margin-top: 2vw;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--color-orange-opacity20);
  }

  & .iconSocial {
    width: 1.1vw;
    height: 1.1vw;
    fill: var(--color-orange);
  }
}

@media (max-width: 1024px) {
  .socialButton {
    gap: 1vw;
    padding: 1.2vw 0;
    border-radius: 0.5vw;
    font-size: 1.6vw;
    margin-top: 3vw;

    & .iconSocial {
      width: 1.8vw;
      height: 1.8vw;
    }
  }
}

@media (max-width: 980px) {
  .socialButton {
    gap: 1.5vw;
    padding: 2vw 0;
    border-radius: 0.75vw;
    font-size: 2.4vw;
    margin-top: 4vw;

    & .iconSocial {
      width: 2.4vw;
      height: 2.4vw;
    }
  }
}

@media (max-width: 576px) {
  .socialButton {
    gap: 2vw;
    padding: 3vw 0;
    border-radius: 1.5vw;
    font-size: 3.6vw;
    margin-top: 7vw;

    & .iconSocial {
      width: 3vw;
      height: 3vw;
    }
  }
}

.forgotPassword {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1vw;

  & a {
    font-size: 0.75vw;
    color: var(--color-white);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);
    transition: 0.3s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }
}

@media (max-width: 1024px) {
  .forgotPassword {
    margin-top: 2vw;

    & a {
      font-size: 1.7vw;
    }
  }
}

@media (max-width: 980px) {
  .forgotPassword {
    margin-top: 3vw;

    & a {
      font-size: 2.4vw;
    }
  }
}

@media (max-width: 576px) {
  .forgotPassword {
    margin-top: 5vw;

    & a {
      font-size: 3.6vw;
    }
  }
}

.googleEmailPrompt {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;

  h3 {
    margin-bottom: 20px;
    font-size: 1.2em;
  }

  .buttonCancel {
    margin-top: 10px;
    background: #ccc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
}
