.lsInputField {
  width: 100%;

  input {
    width: 100%;
    padding: 0.9vw 1.1vw;
    background-color: #1e1e1e;
    border: 0.1vw solid #1e1e1e;
    border-radius: 0.3vw;
    font-size: 0.75vw;
    color: var(--color-white);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);
    outline: var(--color-orange);
    margin-top: 1vw;

    &::placeholder {
      color: var(--color-white);
      font-family: var(--font-main-for-account);
      font-weight: var(--font-weight-small);
      line-height: var(--font-lineh-small);
    }

    &:focus {
      background-color: var(--color-orange-opacity20);
      border: 0.1vw solid var(--color-orange);
    }
  }

  & p {
    font-size: 0.85vw;
    color: var(--color-red);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-normal);
    margin: 0;
    margin-top: 0.5vw;
  }
}

@media (max-width: 1024px) {
  .lsInputField {
    input {
      padding: 1.2vw 1.5vw;
      border-radius: 0.5vw;
      font-size: 1.8vw;
      margin-top: 1.5vw;
    }

    & p {
      font-size: 1.6vw;
      margin-top: 1vw;
    }
  }
}

@media (max-width: 980px) {
  .lsInputField {
    input {
      padding: 2vw 2.5vw;
      border-radius: 0.75vw;
      font-size: 2.4vw;
      margin-top: 3vw;
    }

    & p {
      font-size: 2.4vw;
      margin-top: 1.5vw;
    }
  }
}

@media (max-width: 576px) {
  .lsInputField {
    & input {
      padding: 3vw 3vw;
      border-radius: 1.5vw;
      font-size: 3.6vw;
      margin-top: 3vw;
    }

    & p {
      font-size: 3.2vw;
      margin-top: 1.5vw;
    }
  }
}
