// components/TextListUsers.module.scss
.listUsers {
  background-color: #111111;

  & .user {
    background-color: #1e1e1e;
    border-bottom: 0.05vw solid #333;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: #252525;
    }

    td {
      padding: 0.5vw 1vw;
      font-size: 0.7vw;
      color: #fff;
      font-family: var(--font-main-for-account);
      font-weight: var(--font-weight-small);
      line-height: var(--font-lineh-small);
      vertical-align: middle;

      &:nth-child(1) {
        width: 5%; // №
      }
      &:nth-child(2) {
        width: 5%; // Ава
      }
      &:nth-child(3) {
        width: 10%; // Имя (уменьшили)
      }
      &:nth-child(4) {
        width: 15%; // Почта (уменьшили)
      }
      &:nth-child(5) {
        width: 10%; // Роль
      }
      &:nth-child(6) {
        width: 10%; // Курсы
      }
      &:nth-child(7) {
        width: 20%; // Уровни доступа (новый столбец)
      }
      &:nth-child(8) {
        width: 10%; // Дата регистрации (уменьшили)
      }
      &:nth-child(9) {
        width: 15%; // Действия (уменьшили)
      }
    }

    & .avatarPreview {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.5vw;
      height: 1.5vw;

      & .avatar {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        background-color: var(--color-lightGrey);
      }
    }

    & .actions {
      display: flex;
      gap: 0.5vw;

      & .editButton,
      & .deleteButton {
        padding: 0.3vw 0.75vw;
        border-radius: 0.2vw;
        font-size: 0.65vw;
        color: #fff;
        font-family: var(--font-main-for-account);
        font-weight: var(--font-weight-small);
        line-height: var(--font-lineh-small);
        transition: 0.3s ease-in-out;
        cursor: pointer;
        border: none;

        &.editButton {
          background-color: var(--color-green-opacity20);
          border: 0.1vw solid var(--color-lightGreen);
          &:hover {
            background-color: #053a1b;
            border: 0.1vw solid transparent;
          }
        }

        &.deleteButton {
          background-color: var(--color-red-opacity20);
          border: 0.1vw solid var(--color-red);
          &:hover {
            background-color: #3f0d07;
            border: 0.1vw solid transparent;
          }
        }
      }
    }
  }
}
