.accountCompanyAndQuestionsBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 1vw;

  &.accountCompanyAndQuestionsBlockMarg {
    margin-top: 1vw;
  }
}
