.accountCompanyAndQuestionsBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 1vw;

  &.accountCompanyAndQuestionsBlockMarg {
    margin-top: 1vw;
  }
}

@media (max-width: 1024px) {
  .accountCompanyAndQuestionsBlock {
    gap: 1.5vw;

    &.accountCompanyAndQuestionsBlockMarg {
      margin-top: 1.5vw;
    }
  }
}

@media (max-width: 980px) {
  .accountCompanyAndQuestionsBlock {
    flex-direction: column;
    gap: 3vw;

    &.accountCompanyAndQuestionsBlockMarg {
      margin-top: 3vw;
    }
  }
}

@media (max-width: 576px) {
  .accountCompanyAndQuestionsBlock {
    flex-direction: column;
    gap: 5vw;

    &.accountCompanyAndQuestionsBlockMarg {
      margin-top: 5vw;
    }
  }
}
