.listMainBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2vw;

  & .listTitle {
    font-size: 1.4vw;
    color: var(--color-white);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
  }
}

// components/UserList.module.scss
.tableWrapper {
  margin-top: 0vw;
  border-radius: 0.25vw;
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #111111;
}
