.listMainBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2vw;

  & .listTitle {
    font-size: 1.4vw;
    color: var(--color-white);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    margin-top: 1vw;
  }

  & .addUserButton {
    padding: 0.3vw 1vw;
    border-radius: 0.2vw;
    font-size: 0.65vw;
    color: var(--color-white);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    background-color: var(--color-green-opacity20);
    border: 0;

    &:hover {
      background-color: #053a1b;
    }
  }
}

// components/UserList.module.scss
.tableWrapper {
  border-radius: 0.25vw;
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #111111;
}
