.overviewBlock {
  display: flex;
  flex-direction: column;
}

.courseTitle {
  font-size: 1.8vw;
  color: var(--color-white);
  font-family: var(--font-main-for-account);
  font-weight: var(--font-weight-small);
  line-height: var(--font-lineh-center);
  text-transform: uppercase;
  text-align: left;
}

@media (max-width: 1024px) {
  .courseTitle {
    font-size: 2.2vw;
  }
}

@media (max-width: 980px) {
  .courseTitle {
    font-size: 4vw;
  }
}

@media (max-width: 576px) {
  .courseTitle {
    font-size: 6vw;
  }
}

.overviewIconAndTextBlocks {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.75vw;
  gap: 1vw;

  & .overviewIconAndTextBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3vw;

    & .iconClock {
      display: flex;
      height: 0.8vw;
      width: 0.8vw;
      fill: var(--color-lightGrey);
    }

    & p {
      display: flex;
      font-size: 0.8vw;
      color: var(--color-lightGrey);
      font-family: var(--font-main-for-account);
      font-weight: var(--font-weight-small);
      line-height: var(--font-lineh-small);
      margin: 0;
    }
  }
}

@media (max-width: 1024px) {
  .overviewIconAndTextBlocks {
    margin-top: 1vw;
    gap: 1.5vw;

    & .overviewIconAndTextBlock {
      gap: 0.75vw;

      & .iconClock {
        height: 1.2vw;
        width: 1.2vw;
      }

      & p {
        font-size: 1.4vw;
      }
    }
  }
}

@media (max-width: 980px) {
  .overviewIconAndTextBlocks {
    margin-top: 2vw;
    gap: 3vw;

    & .overviewIconAndTextBlock {
      gap: 1.25vw;

      & .iconClock {
        height: 2.2vw;
        width: 2.2vw;
      }

      & p {
        font-size: 2.6vw;
      }
    }
  }
}
@media (max-width: 576px) {
  .overviewIconAndTextBlocks {
    margin-top: 5vw;
    gap: 4vw;

    & .overviewIconAndTextBlock {
      gap: 1.5vw;

      & .iconClock {
        height: 3.2vw;
        width: 3.2vw;
      }

      & p {
        font-size: 3.6vw;
      }
    }
  }
}

.overviewDescription {
  display: flex;
  flex-direction: column;
  margin-top: 1.5vw;

  & p {
    display: flex;
    font-size: 0.8vw;
    color: var(--color-white);
    font-family: var(--font-albertSans);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-normal);
    margin: 0;
  }

  & .gitHubLinkBlock {
    display: flex;
    flex-direction: row;
    margin-top: 1vw;

    & a {
      display: flex;
      font-size: 0.8vw;
      color: var(--color-lightGreen);
      font-family: var(--font-main-for-account);
      font-weight: var(--font-weight-small);
      line-height: var(--font-lineh-small);
      text-decoration: underline;
      gap: 0.5vw;

      & .gitHubLinkIcon {
        width: 0.85vw;
        height: 0.85vw;
        fill: var(--color-lightGreen);
      }
    }
  }
}

@media (max-width: 1024px) {
  .overviewDescription {
    margin-top: 2vw;

    & p {
      font-size: 1.4vw;
    }

    & .gitHubLinkBlock {
      margin-top: 2vw;

      & a {
        font-size: 1.4vw;
        gap: 1vw;

        & .gitHubLinkIcon {
          width: 1.4vw;
          height: 1.4vw;
        }
      }
    }
  }
}

@media (max-width: 980px) {
  .overviewDescription {
    margin-top: 3vw;

    & p {
      font-size: 2.6vw;
    }

    & .gitHubLinkBlock {
      margin-top: 3vw;

      & a {
        font-size: 2.6vw;
        gap: 2vw;

        & .gitHubLinkIcon {
          width: 2.2vw;
          height: 2.2vw;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .overviewDescription {
    margin-top: 5vw;

    & p {
      font-size: 3.6vw;
    }

    & .gitHubLinkBlock {
      margin-top: 5vw;

      & a {
        font-size: 3.6vw;
        gap: 2.5vw;

        & .gitHubLinkIcon {
          width: 3.4vw;
          height: 3.4vw;
        }
      }
    }
  }
}
