// pages/DashBoard/DashBoard.module.scss
.personalDashboardBackground {
  background-color: #1e1e1e;
}

.dashboard {
  display: flex;
}

.content {
  padding: 20px;
  width: calc(100% - 13.5%);
  min-height: 100vh;
  margin-left: 13.5%;
  transition: all 0.3s ease-in-out;

  &.contentCollapsed {
    margin-left: 3.5%;
    width: calc(100% - 3.5%);
  }
}
