// pages/DashBoard/DashBoard.module.scss
.personalDashboardBackground {
  background-color: #1e1e1e;
  background-image: url('/public/img/backgroundForDashBoard.png');
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.2s;
}

.dashboard {
  display: flex;
}

.content {
  padding: 20px;
  width: calc(100% - 14%);
  min-height: 100vh;
  margin-left: 14%;
  transition: all 0.3s ease-in-out;

  &.contentCollapsed {
    margin-left: 4.5%;
    width: calc(100% - 4.5%);
  }
}
