.mainFormPasswordBlock {
  display: flex;
  flex-direction: column;
  gap: 3.25vw;
}

@media (max-width: 1024px) {
  .mainFormPasswordBlock {
    gap: 3vw;
  }
}

@media (max-width: 980px) {
  .mainFormPasswordBlock {
    gap: 4vw;
  }
}

@media (max-width: 576px) {
  .mainFormPasswordBlock {
    gap: 6vw;
  }
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 100%;

  & label {
    font-size: 0.75vw;
    color: var(--color-white);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);

    & span {
      color: var(--color-blue);
    }
  }

  & .passwordWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: 0.5vw;

    & input {
      display: flex;
      width: 100%;
      padding: 0.9vw 1.1vw;
      border-radius: 0.3vw;
      font-size: 0.75vw;
      color: var(--color-white);
      font-family: var(--font-main-for-account);
      font-weight: var(--font-weight-small);
      line-height: var(--font-lineh-small);
      background-color: var(--color-darkGrey);
      border: 0.1vw solid var(--color-darkGrey);
      outline: var(--color-orange);

      &::placeholder {
        color: var(--color-white);
        font-family: var(--font-main-for-account);
        font-weight: var(--font-weight-small);
        line-height: var(--font-lineh-small);
      }

      &:focus {
        background-color: var(--color-orange-opacity20);
        border: 0.1vw solid var(--color-orange);
      }
    }

    & button {
      position: absolute;
      right: 3%;
      top: 35%;
      border: 0;
      background: transparent;
      cursor: pointer;
      padding: 0;
      font-size: 0.85vw;

      & .icon {
        fill: rgba(255, 255, 255, 0.5);
      }
    }
  }

  & .submitButton {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.9vw 0;
    border: 0;
    border-radius: 0.3vw;
    background-color: var(--color-orange);
    font-size: 0.8vw;
    color: var(--color-white);
    font-family: var(--font-albertSans);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-small);
    margin-top: 1.75vw;
    cursor: pointer;

    &:disabled {
      background-color: var(--color-darkGrey);
      cursor: not-allowed;
    }
  }

  & .error {
    display: flex;
    color: var(--color-red);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);
    font-size: 0.8vw;
    margin: 0;
    margin-top: 0.5vw;
  }
}

@media (max-width: 1024px) {
  .formGroup {
    & label {
      font-size: 1.8vw;
    }

    & .passwordWrapper {
      margin-top: 1.5vw;

      & input {
        padding: 1.5vw 2vw;
        border-radius: 0.5vw;
        font-size: 1.8vw;
      }

      & button {
        position: absolute;
        right: 3%;
        top: 35%;
        font-size: 1.7vw;
      }
    }

    & .submitButton {
      width: 100%;
      padding: 1.5vw 0;
      border-radius: 0.5vw;
      font-size: 1.8vw;
      margin-top: 1.75vw;
    }

    & .error {
      font-size: 1.8vw;
      margin-top: 1vw;
    }
  }
}

@media (max-width: 980px) {
  .formGroup {
    & label {
      font-size: 2.4vw;
    }

    & .passwordWrapper {
      margin-top: 1.5vw;

      & input {
        padding: 2vw 2.5vw;
        border-radius: 1vw;
        font-size: 2.4vw;
      }

      & button {
        position: absolute;
        right: 3%;
        top: 35%;
        font-size: 2.4vw;
      }
    }

    & .submitButton {
      width: 100%;
      padding: 2vw 0;
      border-radius: 1vw;
      font-size: 2.4vw;
      margin-top: 4vw;
    }

    & .error {
      font-size: 2.4vw;
      margin-top: 1.5vw;
    }
  }
}

@media (max-width: 576px) {
  .formGroup {
    & label {
      font-size: 3.6vw;
    }

    & .passwordWrapper {
      margin-top: 3vw;

      & input {
        padding: 3vw 3vw;
        border-radius: 1.5vw;
        font-size: 3.6vw;
      }

      & button {
        position: absolute;
        right: 3%;
        top: 35%;
        font-size: 3.6vw;
      }
    }

    & .submitButton {
      width: 100%;
      padding: 3vw 0;
      border-radius: 1.5vw;
      font-size: 3.6vw;
      margin-top: 4vw;
    }

    & .error {
      font-size: 3.4vw;
      margin-top: 2vw;
    }
  }
}
