.personalAccountBackground {
  background-color: #111111;
}

.container {
  width: 68.75vw;
  margin: 0 auto;
  max-width: 100%;
}

.playlistContainer {
  display: flex;
  width: 100%;
  gap: 1vw;
  padding-top: 2.2vw;
}

.videoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 65%;

  min-width: 0; /* Предотвращает переполнение */
}

.modulesSection {
  display: flex;
  width: 35%;
  height: 100%;
  min-width: 0;
  border-radius: 0.75vw;
  background-color: var(--color-darkGrey);
}
