.personalAccountBackground {
  background-color: #111111;
}

.container {
  width: 68.75vw;
  margin: 0 auto;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .container {
    width: 92vw;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90vw;
  }
}

.playlistContainer {
  display: flex;
  width: 100%;
  gap: 1vw;
  padding-top: 2.2vw;
}

@media (max-width: 1024px) {
  .playlistContainer {
    gap: 1vw;
    padding-top: 3vw;
  }
}

@media (max-width: 768px) {
  .playlistContainer {
    flex-direction: column;
    gap: 1.5vw;
    padding-top: 3vw;
  }
}

.videoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 65%;
  min-width: 0; /* Предотвращает переполнение */
}

@media (max-width: 1024px) {
  .videoSection {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .videoSection {
    width: 100%;
  }
}

.videoSectionMenu {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: start;
  margin-top: 0.75vw;
  border-bottom: 0.1vw solid var(--color-darkGrey);

  & .tabButton {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    font-size: 0.8vw;
    color: var(--color-lightGrey);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);
    padding: 0.75vw 0vw;
    width: 6.5vw;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    position: relative;

    &:hover {
      color: var(--color-blue);
    }

    &.active {
      display: flex;
      color: var(--color-blue);

      &::after {
        display: flex;
        content: '';
        position: absolute;
        bottom: -0.05vw; // Смещаем ниже, чтобы перекрыть бордер хеддера
        left: 0;
        width: 100%;
        height: 0.1vw;
        background-color: var(--color-blue);
        z-index: 1;
        transition: all 0.3s ease; // Плавное появление линии
      }
    }
  }
}

@media (max-width: 1024px) {
  .videoSectionMenu {
    margin-top: 0.75vw;
    border-bottom: 0.1vw solid var(--color-darkGrey);

    & .tabButton {
      font-size: 1.4vw;
      padding: 1.2vw 0vw;
      width: 12vw;

      &.active {
        &::after {
          bottom: -0.05vw; // Смещаем ниже, чтобы перекрыть бордер хеддера
          height: 0.1vw;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .videoSectionMenu {
    margin-top: 1vw;
    border-bottom: 0.1vw solid var(--color-darkGrey);

    & .tabButton {
      font-size: 1.6vw;
      padding: 1.4vw 0vw;
      width: 14vw;

      &.active {
        &::after {
          bottom: -0.05vw; // Смещаем ниже, чтобы перекрыть бордер хеддера
          height: 0.1vw;
        }
      }
    }
  }
}

.videoSectionMenuResults {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  border: 0.1vw solid var(--color-darkGrey);
  border-radius: 0.5vw;
  padding: 1.25vw;
  margin-top: 2vw;
}

@media (max-width: 1024px) {
  .videoSectionMenuResults {
    border-radius: 1vw;
    padding: 2vw;
    margin-top: 1.5vw;
  }
}

.modulesSection {
  display: flex;
  width: 35%;
  height: 100%;
  min-width: 0;
  border-radius: 0.75vw;
  background-color: var(--color-darkGrey);
}

@media (max-width: 1024px) {
  .modulesSection {
    width: 40%;
    border-radius: 1vw;
  }
}

@media (max-width: 768px) {
  .modulesSection {
    width: 100%;
    border-radius: 1vw;
  }
}
