.courseSection {
  display: flex;
  flex-direction: column;
  background-color: var(--color-darkGrey);
  border-radius: 0.75vw;
}

@media (max-width: 1024px) {
  .courseSection {
    border-radius: 1vw;
  }
}

@media (max-width: 980px) {
  .courseSection {
    border-radius: 1.5vw;
  }
}

.courseHeader {
  display: flex;
  flex-direction: column;
  padding: 1.2vw;
}

@media (max-width: 1024px) {
  .courseHeader {
    padding: 1.8vw 1.4vw;
  }
}

@media (max-width: 980px) {
  .courseHeader {
    padding: 2.5vw 2.25vw;
  }
}

.courseHeaderPackageTimeNubmStud {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & .courseHeaderPackage {
    font-size: 0.8vw;
    color: var(--color-lightGrey);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);
    margin: 0;

    & span {
      font-size: 0.8vw;
      color: var(--color-orange);
      font-family: var(--font-main-for-account);
      font-weight: var(--font-weight-small);
      line-height: var(--font-lineh-small);
      text-transform: capitalize;
    }
  }
  & .iconAndTimeBlocks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75vw;

    & .iconAndTimeBlock {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.25vw;

      & .iconClock {
        fill: var(--color-lightGrey);
        width: 0.75vw;
        height: 0.75vw;
      }

      & .courseHeaderTime {
        font-size: 0.8vw;
        color: var(--color-lightGrey);
        font-family: var(--font-main-for-account);
        font-weight: var(--font-weight-small);
        line-height: var(--font-lineh-small);
        margin: 0;
      }
    }
  }
}

@media (max-width: 1024px) {
  .courseHeaderPackageTimeNubmStud {
    & .courseHeaderPackage {
      font-size: 1.6vw;

      & span {
        font-size: 1.6vw;
      }
    }
    & .iconAndTimeBlocks {
      gap: 1.5vw;

      & .iconAndTimeBlock {
        gap: 0.5vw;

        & .iconClock {
          width: 1.4vw;
          height: 1.4vw;
        }

        & .courseHeaderTime {
          font-size: 1.6vw;
        }
      }
    }
  }
}

@media (max-width: 980px) {
  .courseHeaderPackageTimeNubmStud {
    & .courseHeaderPackage {
      font-size: 2.4vw;

      & span {
        font-size: 2.4vw;
      }
    }
    & .iconAndTimeBlocks {
      gap: 3vw;

      & .iconAndTimeBlock {
        gap: 1vw;

        & .iconClock {
          width: 2.4vw;
          height: 2.4vw;
        }

        & .courseHeaderTime {
          font-size: 2.4vw;
        }
      }
    }
  }
}

.courseNameAndProgressBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1vw;

  & .courseName {
    width: 60%;
    font-size: 2vw;
    color: var(--color-white);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-center);
    text-transform: uppercase;
    text-align: left;
  }
}

@media (max-width: 1024px) {
  .courseNameAndProgressBar {
    width: 100%;
    margin-top: 2vw;

    & .courseName {
      width: 60%;
      font-size: 2.4vw;
    }
  }
}

@media (max-width: 980px) {
  .courseNameAndProgressBar {
    width: 100%;
    margin-top: 4vw;

    & .courseName {
      width: 60%;
      font-size: 4.4vw;
    }
  }
}

.expandToStandartAndGitHubLinkBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.6vw;

  & .expandToStandart {
    display: flex;
    font-size: 0.8vw;
    color: var(--color-white);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);
    background-color: var(--color-orange-opacity20);
    border: 0.05vw solid var(--color-orange);
    padding: 0.5vw 1.15vw;
    border-radius: 0.4vw;
  }

  & .gitHubLink {
    display: flex;
    align-items: center;
    font-size: 0.8vw;
    color: var(--color-lightGreen);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);
    text-decoration: underline;
    gap: 0.5vw;

    & .gitHubLinkIcon {
      width: 0.85vw;
      height: 0.85vw;
      fill: var(--color-lightGreen);
    }
  }
}

@media (max-width: 1024px) {
  .expandToStandartAndGitHubLinkBlock {
    margin-top: 1.6vw;

    & .expandToStandart {
      font-size: 1.4vw;
      border: 0.05vw solid var(--color-orange);
      padding: 0.85vw 1.8vw;
      border-radius: 0.75vw;
    }

    & .gitHubLink {
      font-size: 1.4vw;
      gap: 1vw;

      & .gitHubLinkIcon {
        width: 1.4vw;
        height: 1.4vw;
      }
    }
  }
}

@media (max-width: 980px) {
  .expandToStandartAndGitHubLinkBlock {
    margin-top: 4vw;

    & .expandToStandart {
      font-size: 2.2vw;
      border: 0.05vw solid var(--color-orange);
      padding: 1vw 2.4vw;
      border-radius: 1vw;
    }

    & .gitHubLink {
      font-size: 2.4vw;
      gap: 1.5vw;

      & .gitHubLinkIcon {
        width: 2.4vw;
        height: 2.4vw;
      }
    }
  }
}
