// components/DashBoardComponents/Notifications/NotificationsList.module.scss
.notificationsList {
  display: flex;
  flex-direction: column;
  background-color: #252525;
  padding: 1vw;
  border-radius: 0.5vw;
  width: 75%;

  & .titleNotificationsList {
    font-size: 1.4vw;
    color: var(--color-white);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
  }

  & p {
    font-size: 0.9vw;
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);
    color: var(--color-lightGrey);
  }

  .tableWrapper {
    max-height: 30vw; /* Ограничиваем высоту таблицы */
    overflow-y: auto; /* Добавляем прокрутку */
    margin-top: 1vw;
    border-radius: 0.3vw;
  }

  & .table {
    width: 100%;
    border-collapse: collapse;

    thead {
      background-color: #1e1e1e;
      border-bottom: 0.1vw solid #333;

      th {
        padding: 0.75vw 0.5vw;
        font-size: 0.7vw;
        color: #fff;
        font-family: var(--font-main-for-account);
        font-weight: var(--font-weight-normal);
        line-height: var(--font-lineh-small);
        text-align: left;
        text-transform: uppercase;

        &:nth-child(1) {
          width: 5%; // №
        }
        &:nth-child(2) {
          width: 30%; // Заголовок
        }
        &:nth-child(3) {
          width: 45%; // Текст
        }
        &:nth-child(4) {
          width: 10%; // Дата
        }
        &:nth-child(5) {
          width: 10%; // Действия
        }
      }
    }

    tbody {
      tr {
        background-color: #1e1e1e;
        border-bottom: 0.05vw solid #333;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: #333;
        }

        td {
          padding: 0.5vw 0.5vw;
          font-size: 0.7vw;
          color: #fff;
          font-family: var(--font-main-for-account);
          font-weight: var(--font-weight-small);
          line-height: var(--font-lineh-small);
          vertical-align: middle;

          &:nth-child(1) {
            width: 5%; // №
          }
          &:nth-child(2) {
            width: 30%; // Заголовок
            white-space: normal; // Разрешаем перенос текста
            word-break: break-word; // Переносим слова, если они не помещаются
            overflow-wrap: break-word; // Дополнительно для поддержки переносов
            line-height: var(--font-lineh-small);
          }
          &:nth-child(3) {
            width: 45%; // Текст
            white-space: normal; // Разрешаем перенос текста
            word-break: break-word; // Переносим слова, если они не помещаются
            overflow-wrap: break-word; // Дополнительно для поддержки переносов
            line-height: var(--font-lineh-small);
          }
          &:nth-child(4) {
            width: 10%; // Дата
          }
          &:nth-child(5) {
            width: 10%; // Действия
          }
        }

        .deleteButton {
          padding: 0.3vw 0.75vw;
          background-color: var(--color-red-opacity20);
          border: 0.1vw solid var(--color-red);
          border-radius: 0.3vw;
          font-size: 0.7vw;
          color: var(--color-white);
          font-family: var(--font-main-for-account);
          font-weight: var(--font-weight-small);
          line-height: var(--font-lineh-small);
          cursor: pointer;
          transition: 0.3s ease-in-out;

          &:hover {
            background-color: #3f0d07;
            border: 0.1vw solid transparent;
          }
        }
      }
    }
  }
}
