.addedCourses {
  margin-bottom: 1vw;
}

.addedCourses h4 {
  font-size: 0.8vw;
  color: #fff;
  margin-bottom: 0.5vw;
}

.addedCoursesList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.addedCourseItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3vw 0.5vw;
  background-color: #333;
  border: 0.1vw solid #555;
  border-radius: 0.2vw;
  margin-bottom: 0.3vw;
  font-size: 0.7vw;
  color: #fff;
}

.removeCourseButton {
  padding: 0.2vw 0.5vw;
  background-color: var(--color-red-opacity20);
  border: 0.1vw solid var(--color-red);
  border-radius: 0.2vw;
  color: #fff;
  font-size: 0.65vw;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #3f0d07;
    border: 0.1vw solid transparent;
  }
}

.addedCourseItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3vw 0.5vw;
  background-color: #333;
  border: 0.1vw solid #555;
  border-radius: 0.2vw;
  margin-bottom: 0.3vw;
  font-size: 0.7vw;
  color: #fff;
}

.courseActions {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.packageSelect {
  padding: 0.2vw;
  background-color: #444;
  border: 0.1vw solid #555;
  border-radius: 0.2vw;
  color: #fff;
  font-size: 0.65vw;
  cursor: pointer;

  &:focus {
    outline: none;
    border-color: #777;
  }
}
