.accountCompanyBlock {
  display: flex;
  flex-direction: column;
  background-color: var(--color-darkGrey);
  border: 0.05vw solid var(--color-darkGrey);
  border-radius: 0.75vw;
  padding: 1.25vw;
  width: 66.66%;
  height: auto;

  & .title {
    font-size: 1.6vw;
    color: var(--color-white);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);
    text-transform: uppercase;
  }

  & .desciption {
    font-size: 0.8vw;
    color: var(--color-lightGrey);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);
    margin: 0;
    margin-top: 0.5vw;

    &.margTop {
      margin-top: 1.25vw;
    }

    & span {
      color: var(--color-lightGreen);
    }
  }
  & .buttonBlock {
    display: flex;
    margin-top: 1.75vw;

    & .button {
      display: flex;
      justify-content: center;
      padding: 0.5vw 2vw;
      background-color: var(--color-green-opacity20);
      border: 0.05vw solid var(--color-lightGreen);
      border-radius: 0.4vw;
      font-size: 0.8vw;
      color: var(--color-white);
      font-family: var(--font-main-for-account);
      font-weight: var(--font-weight-small);
      line-height: var(--font-lineh-small);
      transition: 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: scale(0.96);
      }
    }
  }
}

@media (max-width: 1024px) {
  .accountCompanyBlock {
    border: 0.05vw solid var(--color-darkGrey);
    border-radius: 1vw;
    padding: 1.5vw;
    width: 66.66%;

    & .title {
      font-size: 2.1vw;
    }

    & .desciption {
      font-size: 1.6vw;
      margin-top: 2vw;

      &.margTop {
        margin-top: 1.5vw;
      }
    }
    & .buttonBlock {
      margin-top: 2.5vw;

      & .button {
        padding: 0.7vw 2.25vw;
        border-radius: 0.5vw;
        font-size: 1.6vw;
      }
    }
  }
}

@media (max-width: 980px) {
  .accountCompanyBlock {
    border: 0.05vw solid var(--color-darkGrey);
    border-radius: 1.5vw;
    padding: 3vw;
    width: 100%;

    & .title {
      font-size: 4vw;
    }

    & .desciption {
      font-size: 2.6vw;
      margin-top: 3vw;

      &.margTop {
        margin-top: 1.5vw;
      }
    }
    & .buttonBlock {
      justify-content: center;
      margin-top: 4vw;

      & .button {
        padding: 1.25vw 4vw;
        border-radius: 1vw;
        font-size: 2.6vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .accountCompanyBlock {
    border: 0.1vw solid var(--color-darkGrey);
    border-radius: 2vw;
    padding: 5vw;
    width: 100%;

    & .title {
      font-size: 5vw;
    }

    & .desciption {
      font-size: 3.6vw;
      margin-top: 4vw;

      &.margTop {
        margin-top: 4vw;
      }
    }
    & .buttonBlock {
      justify-content: center;
      margin-top: 7vw;

      & .button {
        padding: 2vw 6vw;
        border-radius: 1.5vw;
        font-size: 3.6vw;
      }
    }
  }
}
