.inputFieldAndError {
  width: 100%;

  & p {
    font-size: 0.85vw;
    color: var(--color-red);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-normal);
    margin: 0;
    margin-top: 0.5vw;
  }
}

.lsInputField {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;

  & input {
    width: 100%;
    padding: 0.9vw 1.1vw;
    background-color: #1e1e1e;
    border: 0.1vw solid #1e1e1e;
    border-radius: 0.3vw;
    font-size: 0.75vw;
    color: var(--color-white);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);
    outline: var(--color-orange);
    margin-top: 1vw;

    &::placeholder {
      color: var(--color-white);
      font-family: var(--font-main-for-account);
      font-weight: var(--font-weight-small);
      line-height: var(--font-lineh-small);
    }

    &:focus {
      background-color: var(--color-orange-opacity20);
      border: 0.1vw solid var(--color-orange);
    }
  }

  button {
    position: absolute;
    right: 3%;
    top: 51%;
    border: 0;
    background: transparent;
    cursor: pointer;
    padding: 0;
    font-size: 0.85vw;

    & .icon {
      fill: rgba(255, 255, 255, 0.5);
    }
  }
}
