.moduleMainBlock {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &.locked {
    display: flex;
    flex-direction: row;
    opacity: 0.4;
    cursor: not-allowed;
    background-color: #111111; // Серый фон для заблокированного модуля
  }
}

.moduleTitleAndIconBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 0.8vw 0.75vw;
  padding-left: 1.5vw;
  border-top: 0.1vw solid var(--color-lightGrey);

  & .lockMessage {
    position: absolute;
    top: 70%;
    left: 47%;
    font-size: 0.7vw;
    color: var(--color-red);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);

    &.lockMessagePlayList {
      left: 39%;
    }
  }

  & .moduleTitleAndCountBlock {
    display: flex;
    flex-direction: column;
    gap: 0.6vw;

    & .moduleTitle {
      font-size: 1vw;
      color: var(--color-white);
      font-family: var(--font-main-for-account);
      font-weight: var(--font-weight-small);
      line-height: var(--font-lineh-small);
      text-transform: capitalize;
    }

    & .moduleCompletionCount {
      font-size: 0.8vw;
      color: var(--color-lightGrey);
      font-family: var(--font-main-for-account);
      font-weight: var(--font-weight-small);
      line-height: var(--font-lineh-small);
      padding-left: 1.2vw;
    }
  }

  & .icon {
    display: flex;
    fill: var(--color-white);
    width: 1vw;
    height: 1vw;
  }
}

@media (max-width: 1024px) {
  .moduleTitleAndIconBlock {
    padding: 1.4vw 1.4vw;
    padding-left: 1.4vw;
    border-top: 0.05vw solid var(--color-lightGrey);

    & .lockMessage {
      position: absolute;
      top: 70%;
      left: 47%;
      font-size: 0.7vw;

      &.lockMessagePlayList {
        left: 39%;
      }
    }

    & .moduleTitleAndCountBlock {
      gap: 0.75vw;

      & .moduleTitle {
        font-size: 1.7vw;
      }

      & .moduleCompletionCount {
        font-size: 1.4vw;
        padding-left: 1.9vw;
      }
    }

    & .icon {
      width: 1.8vw;
      height: 1.8vw;
    }
  }
}

@media (max-width: 768px) {
  .moduleTitleAndIconBlock {
    padding: 2vw 2vw;
    padding-left: 2vw;
    border-top: 0.05vw solid var(--color-lightGrey);

    & .lockMessage {
      position: absolute;
      top: 70%;
      left: 47%;
      font-size: 0.7vw;

      &.lockMessagePlayList {
        left: 39%;
      }
    }

    & .moduleTitleAndCountBlock {
      gap: 0.75vw;

      & .moduleTitle {
        font-size: 2.2vw;
      }

      & .moduleCompletionCount {
        font-size: 1.8vw;
        padding-left: 2.4vw;
      }
    }

    & .icon {
      width: 2.2vw;
      height: 2.2vw;
    }
  }
}

.lessonsList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 0.5vw 1vw;
  padding-left: 2.75vw;
  padding-top: 0;

  & .lesson {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8vw;
    color: var(--color-lightGrey);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);
    padding: 0.5vw 0vw;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &.completed {
      color: var(--color-white);
    }

    &:hover {
      color: var(--color-white);
    }

    & .checkboxAndTitleLesson {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.8vw;

      & .checkbox {
        display: none; // Скрываем нативный чекбокс
      }

      & .checkmark {
        width: 1vw;
        height: 1vw;
        background-color: transparent;
        border: 0.05vw solid var(--color-white);
        border-radius: 0.2vw;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.15s;

        &:before {
          content: '✔'; // Символ галочки
          color: black;
          font-size: 0.75vw;
          opacity: 0;
          transition: opacity 0.15s;
        }
      }
    }

    & .lessonTime {
      font-size: 0.8vw;
      font-family: var(--font-main-for-account);
      font-weight: var(--font-weight-small);
      line-height: var(--font-lineh-small);
    }

    .checkbox:checked + .checkmark {
      background-color: var(--color-lightGreen); // Оранжевый цвет как на изображении
      border: 0.1vw solid var(--color-lightGreen);
    }

    .checkbox:checked + .checkmark:before {
      opacity: 1;
    }
  }
}

@media (max-width: 1024px) {
  .lessonsList {
    padding: 0.75vw 1.5vw;
    padding-left: 1.6vw;

    & .lesson {
      font-size: 1.5vw;
      padding: 0.85vw 0vw;

      & .checkboxAndTitleLesson {
        gap: 1vw;

        & .checkmark {
          width: 1.6vw;
          height: 1.6vw;
          border: 0.05vw solid var(--color-white);
          border-radius: 0.25vw;

          &:before {
            font-size: 1.25vw;
          }
        }
      }

      & .lessonTime {
        font-size: 1.6vw;
      }

      .checkbox:checked + .checkmark {
        border: 0.1vw solid var(--color-lightGreen);
      }
    }
  }
}

@media (max-width: 768px) {
  .lessonsList {
    padding: 1vw 1.5vw;
    padding-left: 2.4vw;

    & .lesson {
      font-size: 2vw;
      padding: 1vw 0vw;

      & .checkboxAndTitleLesson {
        gap: 1.5vw;

        & .checkmark {
          width: 2.2vw;
          height: 2.2vw;
          border: 0.05vw solid var(--color-white);
          border-radius: 0.5vw;

          &:before {
            font-size: 1.25vw;
          }
        }
      }

      & .lessonTime {
        font-size: 1.8vw;
      }

      .checkbox:checked + .checkmark {
        border: 0.1vw solid var(--color-lightGreen);
      }
    }
  }
}
