.personalAccountBackground {
  background-color: #111111;
  padding-bottom: 5vw;
}

@media (max-width: 1024px) {
  .personalAccountBackground {
    padding-bottom: 20vw;
  }
}

@media (max-width: 576px) {
  .personalAccountBackground {
    padding-bottom: 30vw;
  }
}

.container {
  width: 68.75vw;
  margin: 0 auto;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .container {
    width: 92vw;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90vw;
  }
}

.mainHalfToHalfBlock {
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
  margin-top: 2.2vw;
}

@media (max-width: 980px) {
  .mainHalfToHalfBlock {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    margin-top: 5vw;
  }
}

@media (max-width: 576px) {
  .mainHalfToHalfBlock {
    gap: 5vw;
    margin-top: 10vw;
  }
}

.courseLessonsContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.courseRightContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
}

@media (max-width: 1024px) {
  .courseLessonsContainer {
    width: 50%;
  }

  .courseRightContainer {
    width: 50%;
  }
}

@media (max-width: 980px) {
  .courseLessonsContainer {
    width: 100%;
  }

  .courseRightContainer {
    width: 100%;
    flex-direction: column-reverse;
  }
}

.courseTimer {
  display: block;

  &.courseTimerTablet {
    display: none;
  }
}

@media (max-width: 980px) {
  .courseTimer {
    display: none;

    &.courseTimerTablet {
      display: block;
    }
  }
}

.courseAccessBlock {
  display: flex;
  flex-direction: column;
  margin-top: 3vw;

  & .courseAccessTitle {
    font-size: 2vw;
    color: var(--color-white);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);
  }

  & .courseAccessDescrtiption {
    font-size: 0.8vw;
    color: var(--color-lightGrey);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);
    margin: 0;
    margin-top: 0.5vw;
  }
}

@media (max-width: 1024px) {
  .courseAccessBlock {
    margin-top: 4vw;

    & .courseAccessTitle {
      font-size: 2.4vw;
    }

    & .courseAccessDescrtiption {
      font-size: 1.6vw;
      margin-top: 0.75vw;
    }
  }
}

@media (max-width: 980px) {
  .courseAccessBlock {
    margin-top: 1vw;

    & .courseAccessTitle {
      font-size: 4vw;
    }

    & .courseAccessDescrtiption {
      font-size: 2.4vw;
      margin-top: 2vw;
    }
  }
}

@media (max-width: 576px) {
  .courseAccessBlock {
    align-items: center;
    & .courseAccessTitle {
      font-size: 6vw;
    }

    & .courseAccessDescrtiption {
      font-size: 3.6vw;
      margin-top: 2.5vw;
    }
  }
}
