.courseCard {
  display: flex;
  flex-direction: column;
  width: 31.5%;
  background-color: transparent;
  border: 0.05vw solid var(--color-orange);
  border-radius: 0.75vw;
  padding: 1.2vw 1.2vw;

  &.borderOrange {
    border: 0.05vw solid var(--color-orange);
  }

  &.borderGreen {
    border: 0.05vw solid var(--color-lightGreen);
  }

  &.borderBlue {
    border: 0.05vw solid var(--color-blue);
  }

  & .categoryText {
    display: flex;
    font-size: 0.8vw;
    color: var(--color-lightGrey);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);
    margin: 0;
    text-transform: capitalize;
  }

  & .courseNameBlock {
    display: flex;
    height: 100%;
    margin-top: 0.5vw;
    & .courseName {
      display: flex;
      font-size: 1.2vw;
      color: var(--color-white);
      font-family: var(--font-main-for-account);
      font-weight: var(--font-weight-small);
      line-height: var(--font-lineh-normal);
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  & .completedCourseBlock {
    margin-top: 0.5vw;

    & .completedCourse {
      display: flex;
      font-size: 0.8vw;
      // color: var(--color-orange);
      font-family: var(--font-main-for-account);
      font-weight: var(--font-weight-small);
      line-height: var(--font-lineh-small);
      margin: 0;
      transition: 0.3s ease-in-out;

      &:hover {
        opacity: 0.7;
        text-decoration: underline;
      }

      &.completedCourseOrange {
        color: var(--color-orange);
      }
      &.completedCourseGreen {
        color: var(--color-lightGreen);
      }
      &.completedCourseBlue {
        color: var(--color-blue);
      }

      &.noCompletedCourse {
        color: var(--color-lightGrey);

        &:hover {
          opacity: 1;
          text-decoration: none;
        }
      }
    }
  }

  & .watchButtonBlock {
    display: flex;
    justify-content: center;
    margin-top: 2.5vw;

    & .watchButton {
      display: flex;
      justify-content: center;
      padding: 0.6vw 2vw;
      background-color: var(--color-darkGrey);
      border: 0.05vw solid var(--color-lightGrey);
      border-radius: 0.4vw;
      font-size: 0.8vw;
      color: var(--color-lightGrey);
      font-family: var(--font-main-for-account);
      font-weight: var(--font-weight-small);
      line-height: var(--font-lineh-small);
      transition: 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: scale(0.96);
      }

      &.borderOrange {
        border: 0.05vw solid var(--color-orange);
        color: var(--color-orange);
      }
      &.borderGreen {
        border: 0.05vw solid var(--color-lightGreen);
        color: var(--color-lightGreen);
      }
      &.borderBlue {
        border: 0.05vw solid var(--color-blue);
        color: var(--color-blue);
      }

      &.watchButtonOrange {
        background-color: var(--color-orange-opacity20);
        color: var(--color-white);
        animation: pulseOrange 2.5s 1;
      }
      &.watchButtonGreen {
        background-color: var(--color-green-opacity20);
        color: var(--color-white);
        animation: pulseGreen 2.5s 1;
      }
      &.watchButtonBlue {
        background-color: var(--color-blue-opacity20);
        color: var(--color-white);
        animation: pulseBlue 2.5s 1;
      }
    }
  }
}

@media (max-width: 1024px) {
  .courseCard {
    width: 48%;
    border: 0.05vw solid var(--color-orange);
    border-radius: 1vw;
    padding: 1.5vw 1.5vw;

    & .categoryText {
      font-size: 1.6vw;
    }

    & .courseNameBlock {
      margin-top: 1vw;
      & .courseName {
        font-size: 2vw;
      }
    }

    & .completedCourseBlock {
      margin-top: 1vw;

      & .completedCourse {
        font-size: 1.6vw;
      }
    }

    & .watchButtonBlock {
      margin-top: 2.5vw;

      & .watchButton {
        padding: 0.8vw 2.25vw;
        border: 0.05vw solid var(--color-lightGrey);
        border-radius: 0.5vw;
        font-size: 1.6vw;
      }
    }
  }
}

@media (max-width: 980px) {
  .courseCard {
    width: 48%;
    border: 0.05vw solid var(--color-orange);
    border-radius: 1.5vw;
    padding: 3vw 3vw;

    & .categoryText {
      font-size: 2.4vw;
    }

    & .courseNameBlock {
      margin-top: 1vw;
      & .courseName {
        font-size: 3.6vw;
      }
    }

    & .completedCourseBlock {
      margin-top: 2vw;

      & .completedCourse {
        font-size: 2.4vw;
      }
    }

    & .watchButtonBlock {
      margin-top: 4vw;

      & .watchButton {
        border: 0.05vw solid var(--color-lightGrey);
        padding: 1.25vw 4vw;
        border-radius: 1vw;
        font-size: 2.6vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .courseCard {
    width: 100%;
    border: 0.1vw solid var(--color-orange);
    border-radius: 2vw;
    padding: 5vw 5vw;

    & .categoryText {
      font-size: 3.6vw;
    }

    & .courseNameBlock {
      margin-top: 2vw;
      & .courseName {
        font-size: 5vw;
      }
    }

    & .completedCourseBlock {
      margin-top: 2vw;

      & .completedCourse {
        font-size: 3.6vw;
      }
    }

    & .watchButtonBlock {
      margin-top: 7vw;

      & .watchButton {
        border: 0.1vw solid var(--color-lightGrey);
        padding: 2vw 4vw;
        border-radius: 1.5vw;
        font-size: 3.6vw;
      }
    }
  }
}

@keyframes pulseOrange {
  0% {
    box-shadow: 0 0 0 0px var(--color-orange);
  }
  70% {
    box-shadow: 0 0 1vw 0.7vw rgba(81, 203, 238, 0);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(81, 203, 238, 0);
  }
}
@keyframes pulseGreen {
  0% {
    box-shadow: 0 0 0 0px var(--color-lightGreen);
  }
  70% {
    box-shadow: 0 0 1vw 0.7vw rgba(81, 203, 238, 0);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(81, 203, 238, 0);
  }
}
@keyframes pulseBlue {
  0% {
    box-shadow: 0 0 0 0px var(--color-blue);
  }
  70% {
    box-shadow: 0 0 1vw 0.7vw rgba(81, 203, 238, 0);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(81, 203, 238, 0);
  }
}
