.titleListProducts {
  background-color: #1e1e1e;
  border-bottom: 0.1vw solid #333;

  th {
    padding: 0.75vw 1vw;
    font-size: 0.7vw;
    color: #fff;
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-small);
    text-align: left;
    text-transform: uppercase;

    &:nth-child(1) {
      width: 5%; // №
    }
    &:nth-child(2) {
      width: 10%; // Изображение
    }
    &:nth-child(3) {
      width: 20%; // Название
    }
    &:nth-child(4) {
      width: 10%; // Категория
    }
    &:nth-child(5) {
      width: 10%; // Цена
    }
    &:nth-child(6) {
      width: 10%; // Доступ
    }
    &:nth-child(7) {
      width: 15%; // Дата создания
    }
    &:nth-child(8) {
      width: 15%; // Действия
    }
  }
}
