.progressContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.progressBar {
  width: 4vw;
  height: 4vw;
  min-width: 50px;
  min-height: 50px;
}

.customText {
  font-size: 0.85vw;
  color: var(--color-lightGrey) !important;
  font-family: var(--font-main-for-account) !important;
  font-weight: var(--font-weight-small) !important;
  line-height: var(--font-lineh-small) !important;
}
