.courseHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.9vw 1.2vw;

  & .courseTitle {
    font-size: 1.2vw;
    color: var(--color-lightGrey);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-normal);
  }

  & .lessonsCount {
    display: flex;
    font-size: 0.8vw;
    color: var(--color-blue);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-normal);
  }
}

@media (max-width: 1024px) {
  .courseHeader {
    padding: 1.8vw 1.4vw;

    & .courseTitle {
      font-size: 2vw;
    }

    & .lessonsCount {
      font-size: 1.4vw;
    }
  }
}

@media (max-width: 980px) {
  .courseHeader {
    padding: 2.8vw 2.25vw;

    & .courseTitle {
      font-size: 3.6vw;
    }

    & .lessonsCount {
      font-size: 2.6vw;
    }
  }
}
