// components/admin/Sidebar.module.scss
.sidebar {
  width: 13.5%;
  height: 100vh;
  background-color: #262a2e;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1vw 0.6vw;
  box-shadow: 0.5vw 0.5vw 0.75vw rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease-in-out;

  &.collapsed {
    width: 3.5vw;
    padding: 1vw 0.5vw;

    .sidebarTitle {
      opacity: 0;
    }

    .menuText {
      display: none;
    }

    .submenu {
      display: none;
    }
  }
}

.sidebarTitleBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;

  & .sidebarTitle {
    color: rgba(255, 255, 255, 1);
    font-size: 1.2vw;
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);
    transition: opacity 0.2s ease-in-out;
    white-space: nowrap;
  }

  & .iconTitle {
    height: 1.25vw;
    width: 1.25vw;
    fill: rgba(255, 255, 255, 1);
    cursor: pointer;
    position: absolute;
    right: -1vw;
    background-color: #464a4d;
    border-radius: 0.2vw;
    padding: 0.25vw;
    z-index: 1;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1vw;
}

.menuItem {
  display: flex;
  flex-direction: column;
  padding: 0.5vw 0.75vw;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 0.3vw;
  font-size: 0.8vw;
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--font-main-for-account);
  font-weight: var(--font-weight-small);
  line-height: var(--font-lineh-small);
  white-space: nowrap;

  & .iconAndTextMenuMainBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;

    &.iconAndTextMenuMainBlockDrop {
      justify-content: space-between;
    }

    & .menuIcon {
      height: 0.75vw;
      width: 0.75vw;
      flex-shrink: 0;
      fill: rgba(255, 255, 255, 0.6);
      transition: 0.3s ease-in-out;
    }

    & .iconAndTextMenuBlock {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5vw;

      & .iconDrop {
        height: 0.75vw;
        width: 0.75vw;
        flex-shrink: 0;
        fill: rgba(255, 255, 255, 0.6);
        transition: 0.3s ease-in-out;
      }
    }
  }

  &:hover {
    transform: translateX(0.2vw);
    color: rgba(255, 255, 255, 1);

    & .menuIcon {
      fill: rgba(255, 255, 255, 1);
    }
  }

  &.active {
    background-color: #464a4d;
    color: rgba(255, 255, 255, 1);

    & .menuIcon {
      fill: rgba(255, 255, 255, 1);
    }
  }

  & .submenu {
    list-style-type: disc;
    padding: 0.5vw 2vw;
    padding-right: 0;
    padding-bottom: 0;
    margin: 0;
  }

  & .submenuItem {
    padding: 0.4vw 0.25vw;
    font-size: 0.7vw;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      color: rgba(255, 255, 255, 0.9);
      transform: translateX(0.2vw);
    }
  }
}
