.container {
  width: 68.75vw;
  margin: 0 auto;
  max-width: 100%;
  padding-bottom: 5vw;
}

@media (max-width: 1024px) {
  .container {
    width: 92vw;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90vw;
  }
}

.certificateTitlePage {
  display: flex;
  flex-direction: column;
  padding-top: 1vw;

  & h1 {
    font-size: 2.15vw;
    color: var(--color-white);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);
  }
}

@media (max-width: 1024px) {
  .certificateTitlePage {
    padding-top: 3vw;

    & h1 {
      font-size: 3vw;
    }
  }
}

@media (max-width: 980px) {
  .certificateTitlePage {
    padding-top: 5vw;

    & h1 {
      font-size: 4vw;
    }
  }
}

@media (max-width: 576px) {
  .certificateTitlePage {
    align-items: center;
    padding-top: 7vw;

    & h1 {
      font-size: 6vw;
    }
  }
}

.certificateDesctiptionPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & .welcomeText {
    font-size: 0.8vw;
    color: var(--color-lightGrey);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);
    margin: 0;
    margin-top: 0.5vw;

    & span {
      color: var(--color-orange);
      text-transform: capitalize;
    }
  }
}

.formAndPreview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2.2vw;
  gap: 3vw;
}

.formBlock {
  display: flex;
  flex-direction: column;
  height: 100%;

  & .form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 100%;

    & .field {
      display: flex;
      flex-direction: column;
      text-align: left;
    }

    & .field label {
      font-size: 0.75vw;
      color: var(--color-white);
      font-family: var(--font-main-for-account);
      font-weight: var(--font-weight-small);
      line-height: var(--font-lineh-small);

      & span {
        color: var(--color-blue);
      }
    }

    & .field input {
      display: flex;
      width: 100%;
      padding: 0.9vw 1.1vw;
      border-radius: 0.3vw;
      font-size: 0.75vw;
      color: var(--color-white);
      font-family: var(--font-main-for-account);
      font-weight: var(--font-weight-small);
      line-height: var(--font-lineh-small);
      background-color: var(--color-darkGrey);
      border: 0.1vw solid var(--color-darkGrey);
      outline: var(--color-orange);
      margin-top: 0.5vw;

      &::placeholder {
        color: var(--color-white);
        font-family: var(--font-main-for-account);
        font-weight: var(--font-weight-small);
        line-height: var(--font-lineh-small);
      }

      &:focus {
        background-color: var(--color-orange-opacity20);
        border: 0.1vw solid var(--color-orange);
      }
    }

    & .submitButton {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0.9vw 0;
      border: 0;
      border-radius: 0.3vw;
      background-color: var(--color-orange);
      font-size: 0.8vw;
      color: var(--color-white);
      font-family: var(--font-albertSans);
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-small);
      margin-top: 0.5vw;
      cursor: pointer;

      &:disabled {
        background-color: var(--color-darkGrey);
        cursor: not-allowed;
      }
    }

    & .error {
      display: flex;
      color: var(--color-red);
      font-family: var(--font-main-for-account);
      font-weight: var(--font-weight-small);
      line-height: var(--font-lineh-small);
      font-size: 0.8vw;
      margin: 0;
      margin-top: 0.5vw;
    }
  }

  & .textAfterForm {
    font-size: 0.75vw;
    color: var(--color-lightGrey);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-normal);
    margin: 0;
    margin-top: 2vw;
  }
}

.preview {
  flex: 1;
  display: flex;
  flex-direction: column;

  & .certificate {
    width: 45vw; // Размер A4 в landscape
    height: 32vw;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    background-color: #000;
    // padding: 20mm;
    box-sizing: border-box;

    & h2 {
      position: absolute;
      top: 52%;
      font-size: 1.8vw;
      color: var(--color-white);
      font-family: var(--font-forCertificate);
    }

    & p {
      position: absolute;
      bottom: 1.5vw;
      right: 1.5vw;
      font-size: 0.55vw;
      color: var(--color-white);
      font-family: var(--font-forCertificate);
      font-weight: var(--font-weight-small);
      line-height: var(--font-lineh-normal);
      margin: 0;
    }
  }

  & .notPossible {
    font-size: 0.75vw;
    color: var(--color-lightGrey);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-normal);
    margin: 0;
  }

  & .buttonsDownload {
    display: flex;
    width: 100%;
    justify-content: space-between;

    & .downloadButton {
      display: flex;
      justify-content: center;
      padding: 0.9vw 2vw;
      background-color: var(--color-green-opacity20);
      border: 0.05vw solid var(--color-lightGreen);
      border-radius: 0.4vw;
      font-size: 0.8vw;
      color: var(--color-white);
      font-family: var(--font-main-for-account);
      font-weight: var(--font-weight-small);
      line-height: var(--font-lineh-small);
      transition: 0.3s ease-in-out;
      cursor: pointer;
      margin-top: 1vw;

      &:hover {
        transform: scale(0.99);
      }
    }
  }
}

.backButtonBlock {
  display: flex;
  align-items: center;
  padding-top: 2.2vw;

  & .backButton {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: #919191;
    font-size: 0.85vw;
    cursor: pointer;
    transition: color 0.3s;
    gap: 0.2vw;
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);
    transition: 0.3s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }

  & .backIcon {
    fill: #919191;
    width: 1vw;
    height: 1vw;
  }
}

@media (max-width: 1024px) {
  .backButtonBlock {
    padding-top: 3vw;

    & .backButton {
      font-size: 2.4vw;
      gap: 0.5vw;

      &:hover {
        opacity: 1;
      }
    }

    & .backIcon {
      width: 2.25vw;
      height: 2.25vw;
    }
  }
}

@media (max-width: 576px) {
  .backButtonBlock {
    padding-top: 4vw;

    & .backButton {
      font-size: 3.6vw;
      gap: 0.5vw;
    }

    & .backIcon {
      width: 4vw;
      height: 4vw;
    }
  }
}
