// components/HeaderPersonalAccount/NotificationDrop/NotificationDrop.module.scss
.notificationsDropdown {
  position: absolute;
  top: 1.5vw;
  right: 0;
  background-color: #252525;
  border-radius: 0.5vw;
  box-shadow: 0 0.2vw 0.5vw rgba(0, 0, 0, 0.4);
  width: 22vw;
  z-index: 1000;
  padding: 1vw;

  & .notificationsTitle {
    font-size: 1vw;
    color: var(--color-white);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
  }

  & .notificationsList {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 0.85vw;
    gap: 0.5vw;
    max-height: 18vw;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.3vw;
    }

    &::-webkit-scrollbar-track {
      background: #1e1e1e;
      border-radius: 0.2vw;
    }

    &::-webkit-scrollbar-thumb {
      background: #666;
      border-radius: 0.2vw;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #888;
    }

    li {
      display: flex;
      align-items: center;
      gap: 0.5vw;
      padding: 0.5vw;
      background-color: #1e1e1e;
      border-radius: 0.3vw;
      transition: background-color 0.3s ease-in-out;
      cursor: default;

      &:hover {
        background-color: #333;
      }

      & .notificationIconBlock {
        width: 1.5vw;
        height: 1.5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2ecc71;
        border-radius: 50%;

        & .notificationsIcon {
          width: 0.8vw;
          height: 0.8vw;
          color: var(--color-white);
        }
      }

      .notificationContent {
        flex: 1;

        .notificationTitle {
          font-size: 0.8vw;
          color: var(--color-white);
          font-family: var(--font-main-for-account);
          font-weight: var(--font-weight-normal);
          line-height: var(--font-lineh-normal);
          white-space: normal;
          word-break: break-word;
          overflow-wrap: break-word;
          margin: 0;
        }

        .notificationMessage {
          font-size: 0.7vw;
          color: var(--color-white);
          font-family: var(--font-main-for-account);
          font-weight: var(--font-weight-small);
          line-height: var(--font-lineh-normal);
          white-space: normal;
          word-break: break-word;
          overflow-wrap: break-word;
          margin: 0;
          margin-top: 0.5vw;
        }

        .accessTags {
          display: flex;
          flex-wrap: wrap;
          gap: 0.3vw;
          margin-top: 0.5vw;

          .accessTag {
            padding: 0.2vw 0.5vw;
            border-radius: 0.2vw;
            font-size: 0.6vw;
            color: var(--color-white);
            font-family: var(--font-main-for-account);
            font-weight: var(--font-weight-small);
            line-height: var(--font-lineh-small);

            &[data-level='vanilla'] {
              background-color: #3498db;
            }
            &[data-level='standard1'] {
              background-color: #e74c3c;
            }
            &[data-level='standard2'] {
              background-color: #f1c40f;
            }
            &[data-level='all'] {
              background-color: #2ecc71;
            }
            // Добавь больше цветов для других уровней, если нужно
            &:not([data-level]) {
              background-color: #444; // Для "All" или неизвестных уровней
            }
          }
        }

        .notificationDate {
          font-size: 0.6vw;
          color: var(--color-lightGrey);
          font-family: var(--font-main-for-account);
          font-weight: var(--font-weight-small);
          line-height: var(--font-lineh-small);
          margin: 0;
          margin-top: 0.5vw;
        }

        .markAsReadButton {
          margin-top: 0.5vw;
          padding: 0.3vw 0vw;
          background-color: transparent;
          border: none;
          border-radius: 0.4vw;
          font-size: 0.65vw;
          color: #27ae60;
          font-family: var(--font-main-for-account);
          font-weight: var(--font-weight-small);
          line-height: var(--font-lineh-small);
          cursor: pointer;
          transition: 0.3s ease-in-out;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }

  .noNotifications {
    font-size: 0.8vw;
    color: var(--color-lightGrey);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);
    text-align: center;
    padding: 1vw;
  }

  .clearAllButton {
    width: 100%;
    margin-top: 1vw;
    padding: 0.5vw;
    background-color: transparent;
    border: 0.05vw solid var(--color-blue);
    border-radius: 0.4vw;
    font-size: 0.8vw;
    background-color: var(--color-blue-opacity20);
    color: var(--color-blue);
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-small);
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: var(--color-white);
    }
  }
}

@media (max-width: 1024px) {
  // components/HeaderPersonalAccount/NotificationDrop/NotificationDrop.module.scss
  .notificationsDropdown {
    top: 2.7vw;
    border-radius: 0.5vw;
    box-shadow: 0 0.2vw 0.5vw rgba(0, 0, 0, 0.4);
    width: 40vw;
    padding: 1.5vw;

    & .notificationsTitle {
      font-size: 1.8vw;
    }

    & .notificationsList {
      margin-top: 0.85vw;
      gap: 0.5vw;
      max-height: 25vw;

      &::-webkit-scrollbar {
        width: 0.3vw;
      }

      &::-webkit-scrollbar-track {
        background: #1e1e1e;
        border-radius: 0.2vw;
      }

      &::-webkit-scrollbar-thumb {
        background: #666;
        border-radius: 0.2vw;
      }

      li {
        gap: 1.5vw;
        padding: 1.2vw;
        border-radius: 0.5vw;

        & .notificationIconBlock {
          width: 3vw;
          height: 3vw;
          border-radius: 50%;

          & .notificationsIcon {
            width: 1.8vw;
            height: 1.8vw;
          }
        }

        .notificationContent {
          .notificationTitle {
            font-size: 1.4vw;
          }

          .notificationMessage {
            font-size: 1.2vw;
            margin-top: 1vw;
          }

          .accessTags {
            gap: 0.3vw;
            margin-top: 1vw;

            .accessTag {
              padding: 0.5vw 1vw;
              border-radius: 0.5vw;
              font-size: 1vw;
            }
          }

          .notificationDate {
            font-size: 1vw;
            margin-top: 1vw;
          }

          .markAsReadButton {
            margin-top: 1vw;
            font-size: 1vw;
          }
        }
      }
    }

    .noNotifications {
      font-size: 1.6vw;
      padding: 1.5vw;
    }

    .clearAllButton {
      margin-top: 1.5vw;
      padding: 0.8vw;
      border-radius: 0.5vw;
      font-size: 1.4vw;
    }
  }
}

@media (max-width: 768px) {
  .notificationsDropdown {
    top: 4.3vw;
    border-radius: 1vw;
    box-shadow: 0 0.2vw 0.5vw rgba(0, 0, 0, 0.4);
    width: 50vw;
    padding: 2vw;

    & .notificationsTitle {
      font-size: 2.4vw;
    }

    & .notificationsList {
      margin-top: 1.5vw;
      gap: 1vw;
      max-height: 40vw;

      &::-webkit-scrollbar {
        width: 0.3vw;
      }

      &::-webkit-scrollbar-track {
        background: #1e1e1e;
        border-radius: 0.2vw;
      }

      &::-webkit-scrollbar-thumb {
        background: #666;
        border-radius: 0.2vw;
      }

      li {
        gap: 2vw;
        padding: 1.8vw;
        border-radius: 1vw;

        & .notificationIconBlock {
          width: 4vw;
          height: 4vw;

          & .notificationsIcon {
            width: 2vw;
            height: 2vw;
          }
        }

        .notificationContent {
          .notificationTitle {
            font-size: 1.8vw;
          }

          .notificationMessage {
            font-size: 1.6vw;
            margin-top: 1vw;
          }

          .accessTags {
            gap: 0.75vw;
            margin-top: 2vw;

            .accessTag {
              padding: 0.75vw 1.25vw;
              border-radius: 0.75vw;
              font-size: 1.2vw;
            }
          }

          .notificationDate {
            font-size: 1.4vw;
            margin-top: 2vw;
          }

          .markAsReadButton {
            margin-top: 1.5vw;
            font-size: 1.4vw;
          }
        }
      }
    }

    .noNotifications {
      font-size: 2vw;
      padding: 1.5vw;
    }

    .clearAllButton {
      margin-top: 2vw;
      padding: 1.2vw;
      border-radius: 1vw;
      font-size: 2vw;
    }
  }
}
