.listCourses {
  background-color: #111111;

  & .course {
    background-color: #1e1e1e;
    border-bottom: 0.05vw solid #333;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: #252525;
    }

    td {
      padding: 0.5vw 1vw;
      font-size: 0.7vw;
      color: #fff;
      font-family: var(--font-main-for-account);
      font-weight: var(--font-weight-small);
      line-height: var(--font-lineh-small);
      vertical-align: middle;

      &:nth-child(1) {
        width: 5%; // №
      }
      &:nth-child(2) {
        width: 5%; // Превью
      }
      &:nth-child(3) {
        width: 18%; // Название (уменьшили)
      }
      &:nth-child(4) {
        width: 12%; // Категория (уменьшили)
      }
      &:nth-child(5) {
        width: 12%; // ID (уменьшили)
      }
      &:nth-child(6) {
        width: 13%; // Уровень доступа (уменьшили)
      }
      &:nth-child(7) {
        width: 13%; // Количество уроков (новый столбец)
      }
      &:nth-child(8) {
        width: 12%; // Дата создания (уменьшили)
      }
      &:nth-child(9) {
        width: 10%; // Действия (уменьшили)
      }
    }

    & .preview {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.5vw;
      height: 1.5vw;

      & .previewImage {
        width: 100%;
        height: 100%;
        border-radius: 0.2vw;
        object-fit: cover;
        object-position: center;
        background-color: var(--color-lightGrey);
      }
    }

    & .actions {
      display: flex;
      gap: 0.5vw;

      & .editButton,
      & .deleteButton {
        padding: 0.3vw 0.75vw;
        border-radius: 0.2vw;
        font-size: 0.65vw;
        color: #fff;
        font-family: var(--font-main-for-account);
        font-weight: var(--font-weight-small);
        line-height: var(--font-lineh-small);
        transition: 0.3s ease-in-out;
        cursor: pointer;
        border: none;

        &.editButton {
          background-color: var(--color-green-opacity20);
          border: 0.1vw solid var(--color-lightGreen);
          &:hover {
            background-color: #053a1b;
            border: 0.1vw solid transparent;
          }
        }

        &.deleteButton {
          background-color: var(--color-red-opacity20);
          border: 0.1vw solid var(--color-red);
          &:hover {
            background-color: #3f0d07;
            border: 0.1vw solid transparent;
          }
        }
      }
    }
  }
}

.duplicateButton {
  padding: 5px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;

  &:hover {
    background-color: #218838;
  }

  &:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
}
