.container {
  display: flex;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
  max-width: 100%;
  height: 100vh;
}

@media (min-width: 1921px) {
  .mainBlock {
    transform: scale(0.85);
  }
}

.mainBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111111;
  width: 100%;
  padding: 1.5vw 1.5vw;
  border-radius: 0.75vw;
  padding-right: 5vw;
  gap: 5vw;
  box-shadow: 0vw 0.1vw 0.5vw black;
}

.imageAndLinkBlock {
  display: flex;
  position: relative;
  width: 50%;

  & img {
    border-radius: 0.5vw;
    width: 100%;
  }

  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2.5%;
    right: 3.5%;
    background-color: var(--color-orange-opacity20);
    color: var(--color-white);
    font-size: 0.65vw;
    font-family: var(--font-main-for-account);
    font-weight: var(--font-weight-small);
    line-height: var(--font-lineh-small);
    padding: 0.5vw 1vw;
    border-radius: 0.35vw;
    border: 0.1vw solid var(--color-orange);
    gap: 0.75vw;
    cursor: pointer;

    & .icon {
      display: flex;
      width: 0.65vw;
      height: 0.65vw;
      fill: var(--color-white);
    }
  }
}

.formBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
