@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;

  background-image: linear-gradient(
    -45deg,
    rgb(20, 20, 20) 0%,
    rgb(45, 45, 45) 25%,
    rgb(75, 75, 75) 50%,
    rgb(100, 100, 100) 100%
  );
  animation: background-shift 10s ease infinite;
}

@keyframes background-shift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

:root {
  --font-main-for-account: 'Roboto';
  --font-albertSans: 'Albert Sans';
  --font-weight-small: 400;
  --font-weight-normal: 600;
  --font-weight-bold: 900;
  --font-lineh-normal: 1.3em;
  --font-lineh-small: 1em;

  --color-white: white;
  --color-lightGrey: #919191;
  --color-orange: #ff7b00;
  --color-lightGreen: #26ff00;
  --color-blue: #0084ff;
  --color-red: red;
  --color-orange-opacity20: rgba(255, 123, 0, 0.2);
  --color-green-opacity20: rgba(38, 255, 0, 0.2);
  --color-blue-opacity20: rgba(0, 132, 255, 0.2);
}
