.container {
  width: 68.75vw;
  margin: 0 auto;
  max-width: 100%;
}

.header {
  background-color: #111111;
}

.navigationBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1vw solid var(--color-darkGrey);
  padding: 1vw 0;
  padding-bottom: 0.65vw;

  & .logoBlock {
    display: flex;
    height: 100%;

    & img {
      width: 6vw;
    }
  }

  & ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1.75vw;
    margin: 0;
    padding: 0;

    & li {
      display: flex;
      font-size: 0.8vw;
      color: var(--color-lightGrey);
      font-family: var(--font-main-for-account);
      font-weight: var(--font-weight-small);
      line-height: var(--font-lineh-small);
      cursor: pointer;
      position: relative;
      text-transform: capitalize;
      padding: 0 0.25vw;
      transition: 0.3s ease-in-out;

      &:hover {
        color: var(--color-orange);
      }

      &.active {
        display: flex;
        color: var(--color-orange);

        &::after {
          display: flex;
          content: '';
          position: absolute;
          bottom: -0.92vw; // Смещаем ниже, чтобы перекрыть бордер хеддера
          left: 0;
          width: 100%;
          height: 0.05vw;
          background-color: var(--color-orange);
          z-index: 1;
          transition: all 0.3s ease; // Плавное появление линии
        }
      }
    }
  }

  & .profileAndIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;

    & .avatarNameContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5vw;
      cursor: pointer;

      & .avatar {
        width: 1vw;
        border-radius: 50%;
        object-fit: cover; // Изображение заполняет контейнер, обрезая лишнее
        object-position: center; // Центрируем изображение
        border: 0.1vw solid var(--color-grey);
        background-color: var(--color-lightGrey);
      }

      & .studentName {
        display: flex;
        font-size: 0.8vw;
        color: var(--color-white);
        font-family: var(--font-main-for-account);
        font-weight: var(--font-weight-small);
        line-height: var(--font-lineh-small);
        margin: 0;
      }
    }

    & .profileIcons {
      display: flex;
      flex-direction: row;
      gap: 1.25vw;

      & .notificationWrapper {
        display: flex;
        position: relative;

        & .notificationBadge {
          display: flex;
          position: absolute;
          top: -0.2vw;
          left: 0.4vw;
          justify-content: center;
          align-items: center;
          font-size: 0.4vw;
          color: var(--color-white);
          font-family: var(--font-main-for-account);
          font-weight: var(--font-weight-small);
          line-height: var(--font-lineh-small);
          background-color: var(--color-red);
          border-radius: 50%;
          padding: 0.05vw 0.15vw;
        }
      }

      & .profileIcon {
        width: 0.75vw;
        height: 0.75vw;
        fill: var(--color-white);
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
